.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.nav-link {
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 2px;
}


.service-card:hover {

  background-blend-mode: overlay;
  color: white;
  background-size: cover;
  background-color: rgba(0, 64, 128, 0.5);
  background-position: center center;
  background-image: url('./pages/images/webdev.jpeg');
  transition: all ease 0.5s;
}

.service-card {
  height: 10rem;
  transition: all ease 0.5s;
}

.service-card-text {
  font-size: 0.75rem;
}

.nav-link:hover {
  color: black;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

nav {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);
}